
<h1>Editing Book</h1>
<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this book from being saved:
<% end %>
<%= form_with model: @book do |f| %>
  <h4>タイトル</h4>
  <p>Title</p>
  <%= f.text_field :title %>
  <h4>本文</h4>
  <p>Body</p>
  <%= f.text_area :body %>
  <%= f.submit 'Update Book' %>
  
<% end %>
<p>
<%= link_to "Show", book_path(@book.id) %>
l
  <a href="/books">Back</a>
</p>
